@import "./src/assets/scss/main.scss";
$borderColor: #e6ecf0;
$accountColor: #657786;

.chatroom-container {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  height: 100%;
  width: 100%;
}
.dialog-title {
  border: $borderColor 1px solid;
  border-top: none;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  line-height: 60px;
  font-weight: 600;
}
.dialog-box {
  grid-column: 1 / 2;
  height: 100%;
}
.online-users {
  grid-column: 2 / 3;
}
.dialog-show-box {
  height: calc(100vh - 150px);
  border: solid 1px $borderColor;
  border-top: none;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.send-box {
  height: 54px;
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem;
  padding-left: 30px;
  border: 1px solid $borderColor;
  border-top: none;
  .send-input {
    input {
      background: $borderColor;
      width: 35rem;
      border-radius: 30px;
      font-size: 1.2rem;
      outline: none;
      border: none;
      padding: 10px;
      padding-left: 20px;
      box-sizing: border-box;
    }
  }
  .send-btn {
    width: 3rem;
    font-size: 1rem;
    padding: 0.2rem;
    text-align: center;
    border-radius: 10px;
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.single-message-left,
.single-message-right {
  display: flex;
  position: relative;
  display: flex;
  padding: 0.5rem;
  margin-top: 10px;
  .avatar {
    align-self: center;
    width: 50px;
    height: 50px;
    img {
       width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .info {
    padding-left: 10px;
    .name,
    .time {
      font-size: 14px;
      padding-left: 5px;
      color: $accountColor;
    }
    .message {
      display: inline-block;
      min-width: 50px;
      max-width: 220px;
      background-color: rgb(228, 228, 228);
      padding: 8px 12px 8px 12px;
      border-radius: 20px 20px 20px 0px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 24px;
    }
  }
}
.single-message-right {
  right: 0px;
  flex-direction: row-reverse;
  padding-right: 10px;
  .info {
    padding-right: 10px;
    .name,
    .time {
      text-align: right;
      padding-right: 7px;
    }
    .message {
      border-radius: 20px 20px 0px 20px;
      background-color: $mainColor;
      color: white;
    }
  }
}

.single-message {
  display: flex;
  .avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.online-users {
  border: $borderColor 1px solid;
  border-left: none;
  border-top: none;
  .user-top {
    border-bottom: $borderColor 1px solid;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    line-height: 60px;
    font-weight: 600;
  }
}
// online users
.user-card {
  border-bottom: $borderColor 1px solid;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  padding-left: 20px;
  line-height: 21px;
  .user-avatar > img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-color: $borderColor;
    padding: 0.3rem;
    object-fit: cover;
  }
  .user-info > span {
    padding-left: 1px;
    color: $accountColor;
    font-weight: 500;
  }
  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
}

@media screen and (max-width: 1359px) {
  .online-users {
    display: none;
  }
}