@import "./src/assets/scss/main.scss";
@import "./src/assets/scss/replyModal.scss";

.container {
  border-right: solid 1px #e6ecf0;
  border-left: solid 1px #e6ecf0;
}

.cover {
  top: -100%;
  left: -100%;
}

.tweet-reply {
  transition: background-color 0.3s ease-in;
  cursor: pointer;
  border-bottom: solid 1px #e6ecf0;
  &:hover {
    background-color: $tweetHover;
  }
  .reply-user-info {
    width: 100%;
  }
}

.reply-icon-wrapper:hover,
.heart-icon-wrapper:hover {
  background-color: $replyIconHover;
  cursor: pointer;
  .reply-icon {
    fill: $mainColor;
  }
}

.heart-icon-wrapper:hover {
  background-color: $heartIconHover;
  .heart-icon {
    fill: #E0245E;
  }
}


.reply-icon-wrapper,
.heart-icon-wrapper {
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  transition: background-color 0.2s linear;
  .reply-icon,
  .heart-icon {
    position: absolute;
    left: 7px;
    top: 7px;
  }
  .heart-icon {
    left: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 900px) {
  .reply-modal {
    width: 80%;
  }
}
